# SORT ()

* The 'Sort' function sort the list in Accending Order.

* Example:-

In [9]:
l1 = [122,234,99,82,1,29,]

l1.sort()

In [11]:
print(l1)

[1, 29, 82, 99, 122, 234]

# TYPE ()

* The 'Type' function returns the class type of an object.

* Example:-

In [13]:
l2 = ["Mango",173, "Banana",1.68, "Cherry",1.89]

type(l2)

list

# APPEND ()

* The 'Append' function Add a single element to the list.

* Example :-

In [16]:
l3 = ['Cabage','Potato','Tomato']

l3.append('Pumkin')

print(l3)

['Cabage', 'Potato', 'Tomato', 'Pumkin']

# EXTEND ()

* The 'Extend' function Adds multiple elements to a list.

* Example:-

In [18]:
l4 = [13,43,54,65]

l4.extend([32,67])

print(l4)

[13, 43, 54, 65, 32, 67]

# INDEX ()

* The 'Index' function returns the first appearance of the specified value.

* Example:-

In [28]:
l5 = ['January', 'February', 'March', 'April', 'May', 'Jun', 'July', 'August']

l5.index('July')

6

# MAX ()

* The 'Max' functions returns an item from the list with max value.

* Example:-

In [36]:
l6 = [189, 370, 710, 320, 444, 111]

l6 = max(l6)

print(l6)

710

# MIN ()

* The 'Min' function returns an item from the list with min value.

* Example:-

In [38]:
l7 = [123, 344, 431, 56, 373, 333, 39, 52, 888, 910]

l7 = min(l7)

print(l7)

39

# Len ()

* The 'Len' function is gives the total length of the list.

* Example:-

In [44]:
l8 = ['apple','banana','mango','graphs','lemon']

l8 = len(l8)

print(l8)

5

# List ()

* The 'List' function convert a touple into the list.

* Example:-

In [46]:
l9 = (54,44,32,21,56,7,8,99,109)

l9 = list(l9)

print(l9)

[54, 44, 32, 21, 56, 7, 8, 99, 109]

# Remove ()

* The 'Remove' function remove a index from the list.

* Example:-

In [61]:
l10 = [12,23,45,66,77,55,33,24,66]

l10.remove(23)

print(l10)

[12, 45, 66, 77, 55, 33, 24, 66]